xv-tab {
    display: block;
    height: 50px;

    display: flex;
    flex-flow: flex-start;
    align-items: stretch;

    > a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #7f7f7f;
        font-size: 25px;
        font-weight: 900;
        
        /* transition: color 0.2s ease; */
        
        background : #FFF;
        border: 1px solid #FFF;
        border-bottom: none;
        > span {
            display: block;
            margin-left: 20px;
            margin-right: 20px;
        }
        
        &.active {
            color: $main-color2;
            border-color: $border-color;
        }
    }

}